<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>开心盒子</title>
</head>
<body>
    <div class="ui-container">
        <div class="ui-banner">
            <!-- <img src="../images/banner.png" width="100%"> -->
        </div>

        <div class="ui-tab">
            <ul class="ui-tab-ul">
                <li class="">猫用</li>
                <li class="ischeck">狗用</li>
            </ul>
        </div>

        <nav class="ui-nav">
            <ul class="ui-nav-ul">
                <li class="">主粮</li>
                <li class="">猫用</li>
                <li class="">猫用</li>
                <li class="">猫用</li>
                <li class="">猫用</li>
                <li class="nav-choose"> 筛选
                    <!-- <i class="ui-arrow-down"></i> -->
                    <ul class="nav-choose-ui">
                        <li>111</li>
                        <li>222</li>
                        <li>333</li>
                        <li>444</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <script src="../js/flexible.min.js"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>